/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-set-2014, 22.43.20
    Author     : alex
*/


.jlexclude{
    overflow: hidden;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
}


[layout],[data-layout] ,[layout]>*,[data-layout]>*{
    box-sizing: content-box;
}

button[layout],button[data-layout] {
    box-sizing: content-box;
}

.jlbutton
{
    background:rgb(237, 239, 241);
    cursor:default;
    padding: 10px;
    border: 1px solid darkgray;
    border-radius: 5px;
}



.dialogheader
{
    background: rgb(111, 173, 202);
    background-image: linear-gradient(rgb(222, 239, 255) 0%, rgb(152, 190, 222) 100%);
    color: darkslategrey;
    font-weight: bolder;
    font-size: larger;
}


.jlaccordionflap
{
    background:rgb(237, 239, 241);
    border: 1px solid darkgray;
}

.tabheader
{
    background:rgb(237, 239, 241);
}

.tabheader > div
{
    background:whitesmoke;
    cursor: pointer;
    border:1px solid gray;
    padding:3px;
}


div.selected
{
    background:rgb(122, 156, 172);
    color:white;
}


.HalfCircleLeft
{
    margin: 100px;
    height: 100px;
    width: 50px;
    border-radius: 0 50px 50px 0;
    background-color: #cfa040;
    position: relative;
}


.nicepanel
{
    border: 1px solid darkgrey;
    margin:5px;
}




/*---------TREE------------------*/


.tree,
.tree ul {
  margin:0;
  padding:0;
  list-style:none;
}

.tree ul {
  margin-left:1em; /* indentation */
  position:relative;
}

.tree ul ul {margin-left:.5em} /* (indentation/2) */

.tree ul:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  border-left:1px solid;
}

.tree li {
  margin:0;
  padding:0 1.5em; /* indentation + .5em */
  line-height:2em; /* default list item's `line-height` */
  color:#369;
  font-weight:bold;
  position:relative;
  white-space: nowrap;
}

.tree ul li:before {
  content:"";
  display:block;
  width:10px; /* same with indentation */
  height:0;
  border-top:1px solid;
  margin-top:-1px; /* border top width */
  position:absolute;
  top:1em; /* (line-height/2) */
  left:0;
}

.tree ul li:last-child:before {
  background:white; /* same with body background */
  height:auto;
  top:1em; /* (line-height/2) */
  bottom:0;
}


.tree li>span:after
{
	border: 1px solid #369;
	padding:2px;
	color:#369;
	content: '-';
}

.tree li.closed>span:after
{
	content: '+';
}